@media (min-width: 575.98px){
    .hide{
        visibility: hidden;
    }
}
@media (max-width: 575.98px){
    .row{
        margin: 0 20px 20px 20px;
    }
    section{
        padding: 15px;
    }
}
body{
    font-family: serif;
}

h1.navbar-brand{
    font-size: 2.5em;
    font-style: bold;
    margin-top: -5px;
    margin-bottom: -5px;
}
div #color{
    color: orange;
}
#Chicken{
    padding: 15px;
    margin-bottom: 15px;
    background-color: pink;
    color: blue;
}
#Beef{
    padding: 15px;
    margin-bottom: 15px;
    background-color: pink;
    color: blue;
}
#Sushi{
    padding: 15px;
    margin-bottom: 15px;
    background-color: pink;
    color: blue;
}
.hide{
    background-color: #22a2a2;
    font-style: black;
}
#bottom-link{
    color: #b22222;
    font-size: 1.2em;
}
